<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, height=device-height, user-scalable=no, initial-scale=1.0, maximum-scale=1.0;"> 
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    <title>{% block title %}Grenouille verte{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
    <link rel="stylesheet" href="{{ STATIC_URL }}grenouille/css/custom.css" />
</head>
<body onload="setTimeout(fixSize,700);setTimeout(fixSize,1500);" {% block body_id %}{% endblock %} {% block body_class %}{% endblock %}>
    {% block extrabody %}
    {% endblock %}
    {% block body %}
        <div id="header">
            {% block header %}
            {% endblock %}
        </div>
        <div id="sidebar">
            {% block sidebar %}
            {% endblock %}
        </div>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
        <div id="footer">
            {% block footer %}
            {% endblock %}
        </div>
    {% endblock %}
    <script type="text/javascript" src="{{ STATIC_URL }}grenouille/js/custom.js"></script>
</body>
</html>
